@{
    ViewData["Title"] = "Home Page";

    var model = new List<Employeer>();
    try
    {
        for (int i = 0; i < 5; i++)
        {
            model.Add(new Employeer
                    {
                        Firstname = i % 2 == 0 ? "MR" : "Ms",
                        LastName = i.ToString(),
                        Email = i + "@gmail.com"
                    });
        }
    }
    catch (Exception ex)
    {

        throw;
    }
}


@model BE_072024.WebAspNetCoreMVC.Models.Employeer
@* @Html.ActionLink("Bấm vào đây", "Privacy", "Home") *@

<div class="row">

    <form action="/Home/Index" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="None"></div>

        <div class="form-group">
            <label for="email">FirstName:</label>
            <input type="text" class="form-control" name="Firstname" id="Firstname">
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="pwd">LastName:</label>
            <input type="text" class="form-control" name="LastName" id="LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="pwd">Email:</label>
            <input type="text" class="form-control" name="Email" id="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" id="btnSave" class="btn btn-success"><i class="fa fa-save"></i>Lưu</button>
    </form>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*   @Html.Partial("~/Views/Home/_ListEmployeerPartial.cshtml", model); *@
    <div id="ListEmployeerPartial"></div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            LoadPartialView();
        });

        function SaveData() {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var param = {
                Firstname: $("#Firstname").val(),
                LastName: $("#LastName").val(),
                Email: $("#Email").val()
            };

            $.ajax({
                type: 'POST',
                url: "/Home/Index",
                headers: {
                    'RequestVerificationToken': token // Thêm token vào header
                },
                data: param,
                dataType: "json",
                // dataType:"json",
                success: function (rs) {
                    alert(JSON.stringify(rs));
                },
                error(rs) {
                    console.log(JSON.stringify(rs));
                }
            });
        }

        function LoadPartialView() {
            
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: 'POST',
                headers: {
                    'RequestVerificationToken': token // Thêm token vào header
                },
                url: "/Home/_ListEmployeerPartial",
                data: {},
                contentType: 'application/json',
                dataType: "html",
                // dataType:"json",
                success: function (rs) {
                    $("#ListEmployeerPartial").html("");
                    $("#ListEmployeerPartial").html(rs);
                },
                error(rs) {
                    console.log(JSON.stringify(rs));
                }
            });
        }
    </script>
}